# Python
__pycache__/
*.py[cod]
*.pyo


# Virtual Environments
.venv/
venv/
env/

# VS Code
.vscode/

# Visual Studio
.vs/
**/.vs/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db